Library: numpy, pandas, matplotlib, seaborn, geopandas, fiona, requests, csv, Socrata, BeautifulSoup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
from geopandas import GeoDataFrame
import fiona from shapely.geometry import Point, Polygon
import requests
import csv
import pandas as pd
from sodapy import Socrata
from bs4 import BeautifulSoup